#contentWrapper {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    margin: 0;
    left:0;
}

body, h3, span, button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


#backgroundImage{
    top:0;
    left:0;
    z-index: -100;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("/images/PIMosaic.png");
    filter: blur(20px);
}

#switchView {
    position: fixed;
    bottom: 90px;
    height: 50px;
    width: 200px;
}

#piMosaic {
    opacity: 0;
    width: 45vmax;
    height: auto;
    position: absolute;
    margin: 0;
}

#switchView {
    border-width: 2px;
    border-color: lightgrey;
    border-style: solid;
}

html {word-wrap: break-word;}